<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- User defined styles-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- User degined JS -->

    <!-- JS for message IO -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <script src="{{ url_for('static', filename='message.js') }}"></script>

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light nav-color nav-after-login">
        <span class="navbar-brand btn btn-dark" id="navbar-brand-color username">{{ username }}</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-bar-text">
                <li class="nav-item">
                    <a class="nav-link nav-text" href="{{ url_for('create_chat_group') }}">Create Group <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" href="#">List Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" href="#">Test</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="sidenav">
            <a href="{{ url_for('user_chat', current_chat=current_chat) }}" id="current_chat">{{ current_chat }}</a>
            <a href="#chat_group">Chat Groups</a>
            <ul>
                {% for chats in all_chats %}
                <li><a href="{{ url_for('user_chat', current_chat=chats) }}">{{ chats }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% block body%} {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>